<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <title>R&R Inventory System</title>
</head>
<body style="padding-top: 10rem;">
  <div class="container shadow-lg d-flex align-content-center justify-content-center flex-wrap" style="background-color: #36304a; border-radius: 20px; width: 35rem; height: 30rem;">
    <h1 class="text-center pt-5 branding" style="font-size: 3rem;">Reset password</h1>
      <form action="/reset" method="POST">
        <div class="d-flex justify-content-center pb-3">
          <input class="form-control-lg longinput" type="text" id="password" name="password" placeholder="New Password" required>
        </div>
        <div class="d-flex justify-content-center py-2 pb-5 pt-3">
          <button type="submit" class="btn btn-outline-light btn-lg" style=" font-size: 1.5rem;">Confirm</button>
        </div>
      </form>
  </div>
  <div class="d-flex justify-content-center pt-4">
    <h1 class="text-center" style="font-size: 1rem;">
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>
    </h1>
  </div>
<!--footer-->
<footer>
	<div class="page-footer col-sm-12" style="margin-top: 10rem;">
	   <div class="container">
		  <hr class="rgba-white-light" style="margin: 0 15%;">
		  <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
		  </div>
		  <!-- Copyright -->
		  <div class="footer-copyright text-center py-1">
        © 2022 R&R System. All Rights Reserved
      </div>
	   </div>
	</div>
 </footer>
</body>	
</html>

